<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">


<head>
    <meta charset="UTF-8">
    <title>All Users</title>
</head>
<body>
<h2>All Users</h2>
<div>
    <table>
        <tr>
            <th>Id</th>
            <th>Name</th>
            <th>Surname</th>
        </tr>

        <tr th:each="user : ${user}">
            <td th:text="${user.getId()}">Id</td>
            <td th:text="${user.getName()}">Name</td>
            <td th:text="${user.getSurname}">Surname</td>

            <td>
                <form th:action="@{user/edit/{id}(id=${user.id})}" th:object="${user}">
                    <br/>
                    <button type="submit">Update</button>
                </form>
            </td>
            <td>
                <form th:method="DELETE" th:action="@{user/delete/{id}(id=${user.getId()})}" th:object="${user}">
                    <br/>
                    <button type="submit">Delete</button>
                </form>
            </td>
        </tr>
    </table>
    <form th:action="@{user/new}">
        <br/>
        <br/>
        <button type="submit">New User</button>
    </form>
</div>

</body>
</html>